*{
  margin: 0;
  padding: 0;
}
.hero{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1f0c08;
}
#image1{
  background-image: url(img/image1.jpg);
}
#image2{
  background-image: url(img/image2.jpg);
}
#image3{
  background-image: url(img/image3.jpg);
}
#image4{
  background-image: url(img/image4.jpg);
}